In [41]:
import numpy as np 
import pandas as pd
import statistics


train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")
train_data['Age'] = train_data['Age'].replace(np.NaN, statistics.mode(train_data['Age']))
train_data['Embarked'] = train_data['Embarked'].replace(np.NaN, statistics.mode(train_data['Embarked'] ) )                                            
#train_data= train_data.dropna()
#train_data['Sex']= (train_data['Sex'].apply(lambda x: 0 if x == 'female' else 1))
train_data=pd.get_dummies(train_data,columns=['Embarked', "Pclass", "Sex", "SibSp", "Parch"],drop_first=True)

train_data =train_data.drop('Name', axis = 1).drop('Ticket', axis = 1).drop('Cabin', axis = 1)
#display(train_data.info(), train_data.head())
x_train = train_data.drop('Survived', axis = 1) 
y_train = train_data['Survived']

#test_data= test_data.dropna()
test_data['Age'] = test_data['Age'].replace(np.NaN, test_data['Age'].mean())
test_data['Fare'] = test_data['Fare'].replace(np.NaN, test_data['Fare'].mean())
test_data['Embarked'] = test_data['Embarked'].replace(np.NaN, statistics.mode(test_data['Embarked'] ))
#test_data['Sex']= (test_data['Sex'].apply(lambda x: 0 if x == 'female' else 1))
test_data=pd.get_dummies(test_data,columns=['Embarked', "Pclass", "Sex", "SibSp", "Parch"],drop_first=True)

test_data =test_data.drop('Name', axis = 1).drop('Ticket', axis = 1).drop('Cabin', axis = 1)
#display(train_data.info(), train_data.head())
x_test = test_data

#y_test = test_data['Survived']

x_train['Parch_3'] = x_train['Parch_4'].apply(lambda x: 0)
x_train['Parch_9'] = x_train['Parch_4'].apply(lambda x: 0)
print(x_train.shape)
print(x_test.shape)
display(x_train.head(), x_test.head())

(891, 21)
(418, 21)

,PassengerId,Age,Fare,Embarked_Q,Embarked_S,Pclass_2,Pclass_3,Sex_male,SibSp_1,SibSp_2,...,SibSp_4,SibSp_5,SibSp_8,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Parch_9
0,1,22.0,7.2500,0,1,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,38.0,71.2833,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,26.0,7.9250,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,35.0,53.1000,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,35.0,8.0500,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

,PassengerId,Age,Fare,Embarked_Q,Embarked_S,Pclass_2,Pclass_3,Sex_male,SibSp_1,SibSp_2,...,SibSp_4,SibSp_5,SibSp_8,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Parch_9
0,892,34.5,7.8292,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,893,47.0,7.0000,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,894,62.0,9.6875,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,895,27.0,8.6625,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,896,22.0,12.2875,0,1,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0

In [29]:
display(x_train.describe(), x_test.describe())

,PassengerId,Age,Fare,Embarked_Q,Embarked_S,Pclass_2,Pclass_3,Sex_male,SibSp_1,SibSp_2,...,SibSp_4,SibSp_5,SibSp_8,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Parch_9
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,...,891.000000,891.000000,891.000000,891.000000,891.000000,891.0,891.000000,891.000000,891.000000,891.0
mean,446.000000,28.566970,32.204208,0.086420,0.725028,0.206510,0.551066,0.647587,0.234568,0.031425,...,0.020202,0.005612,0.007856,0.132435,0.089787,0.0,0.004489,0.005612,0.001122,0.0
std,257.353842,13.199572,49.693429,0.281141,0.446751,0.405028,0.497665,0.477990,0.423966,0.174562,...,0.140770,0.074743,0.088337,0.339154,0.286037,0.0,0.066890,0.074743,0.033501,0.0
min,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
25%,223.500000,22.000000,7.910400,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
50%,446.000000,24.000000,14.454200,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
75%,668.500000,35.000000,31.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
max,891.000000,80.000000,512.329200,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,0.0

,PassengerId,Age,Fare,Embarked_Q,Embarked_S,Pclass_2,Pclass_3,Sex_male,SibSp_1,SibSp_2,...,SibSp_4,SibSp_5,SibSp_8,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Parch_9
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,...,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,1100.500000,30.272590,35.627188,0.110048,0.645933,0.222488,0.521531,0.636364,0.263158,0.033493,...,0.009569,0.002392,0.004785,0.124402,0.078947,0.007177,0.004785,0.002392,0.002392,0.004785
std,120.810458,12.634534,55.840500,0.313324,0.478803,0.416416,0.500135,0.481622,0.440875,0.180135,...,0.097471,0.048912,0.069088,0.330435,0.269980,0.084514,0.069088,0.048912,0.048912,0.069088
min,892.000000,0.170000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,996.250000,23.000000,7.895800,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1100.500000,30.272590,14.454200,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1204.750000,35.750000,31.500000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1309.000000,76.000000,512.329200,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
x_train.isnull().sum()

PassengerId    0
Age            0
Fare           0
Embarked_Q     0
Embarked_S     0
Pclass_2       0
Pclass_3       0
Sex_male       0
SibSp_1        0
SibSp_2        0
SibSp_3        0
SibSp_4        0
SibSp_5        0
SibSp_8        0
Parch_1        0
Parch_2        0
Parch_3        0
Parch_4        0
Parch_5        0
Parch_6        0
Parch_9        0
dtype: int64

In [5]:
from sklearn.ensemble import RandomForestClassifier
#rfc=RandomForestClassifier(n_estimators=300)
#rfc.fit(x_train, y_train)


model = RandomForestClassifier(n_estimators=200, criterion='gini', min_samples_split=5, min_samples_leaf=2, max_features='auto', bootstrap=True, n_jobs=-1, random_state=42)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
#rf = RandomForestRegressor(random_state = 42)
#from pprint import pprint
# Look at parameters used by our current forest
#print('Parameters currently in use:\n')
#pprint(rf.get_params())
#Parameters currently in use:

C:\Users\Ajisco\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [8]:
from sklearn.model_selection import RandomizedSearchCV

# Number of trees in random forest
n_estimators = [int(x) for x in range(200,2000,200)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)

{'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False]}

In [9]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestClassifier()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(x_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:  4.8min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:  9.6min finished

RandomizedSearchCV(cv=3, error_score='raise',
          estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
          fit_params=None, iid=True, n_iter=100, n_jobs=-1,
          param_distributions={'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False]},
          pre_dispatch='2*n_jobs', random_state=42, refit=True,
          return_train_score='warn', scoring=None, verbose=2)

In [10]:
rf_random.best_params_

{'n_estimators': 1600,
 'min_samples_split': 10,
 'min_samples_leaf': 4,
 'max_features': 'sqrt',
 'max_depth': 20,
 'bootstrap': True}

In [11]:
from sklearn.model_selection import GridSearchCV

# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [True],
    'max_depth': [10,15],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5,6],
    'min_samples_split': [3,4,5,6],
    'n_estimators': [1150, 1200, 1250, 1300,1350]
}
# Create a based model
rf = RandomForestClassifier()
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

# Fit the grid search to the data
grid_search.fit(x_train,y_train)

Fitting 3 folds for each of 320 candidates, totalling 960 fits

[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:  7.2min
[Parallel(n_jobs=-1)]: Done 357 tasks      | elapsed: 14.8min
[Parallel(n_jobs=-1)]: Done 640 tasks      | elapsed: 25.1min
[Parallel(n_jobs=-1)]: Done 960 out of 960 | elapsed: 444.0min finished

GridSearchCV(cv=3, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'bootstrap': [True], 'max_depth': [10, 15], 'max_features': [2, 3], 'min_samples_leaf': [3, 4, 5, 6], 'min_samples_split': [3, 4, 5, 6], 'n_estimators': [1150, 1200, 1250, 1300, 1350]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=2)

In [12]:
grid_search.best_params_

{'bootstrap': True,
 'max_depth': 15,
 'max_features': 3,
 'min_samples_leaf': 3,
 'min_samples_split': 6,
 'n_estimators': 1350}

In [15]:
best_grid = grid_search.best_estimator_
#evaluate(best_grid,x_test,y_test)

In [21]:
best_random = rf_random.best_estimator_
predictions = best_random.predict(x_test)
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [22]:
df_pred = pd.DataFrame(predictions)
df_pred.head()

   0
0  0
1  0
2  0
3  0
4  0

In [23]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [24]:
pd_sub = pd.read_csv('submission.csv')
pd_sub.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [29]:
x_test.iloc[1]

PassengerId    893.0
Age             47.0
Fare             7.0
Embarked_Q       0.0
Embarked_S       1.0
Pclass_2         0.0
Pclass_3         1.0
Sex_male         0.0
SibSp_1          1.0
SibSp_2          0.0
SibSp_3          0.0
SibSp_4          0.0
SibSp_5          0.0
SibSp_8          0.0
Parch_1          0.0
Parch_2          0.0
Parch_3          0.0
Parch_4          0.0
Parch_5          0.0
Parch_6          0.0
Parch_9          0.0
Name: 1, dtype: float64

In [ ]:
x = np.zeros((1,21))

x[0,0] =893.0
x[0,1] =47.0
x[0,2] =7.0
x[0,3] =0.0
x[0,4] =1.0
x[0,5] =0.0
x[0,6] =1.0
x[0,7] =0.0
x[0,8] =1.0
x[0,9] =0.0
x[0,10] =0.0
x[0,11] =0.0
x[0,12] =0.0
x[0,13] =0.0
x[0,14] =0.0
x[0,15] =0.0
x[0,16] =0.0
x[0,17] =0.0
x[0,18] =0.0
x[0,19] =0.0
x[0,20] =0.0

In [ ]:
prediction= rf_random.predict(x)
prediction[0]

In [28]:
d_corr= x_train.corr().reset_index()
display((d_corr[d_corr['Survived']>0.1 ][['index','Survived']], 
d_corr[d_corr['Survived']< -0.1 ][['index','Survived']]))
#d_corr

(       index  Survived
 1   Survived  1.000000
 3       Fare  0.257307
 9    SibSp_1  0.173076
 15   Parch_1  0.134174,
         index  Survived
 5  Embarked_S -0.149683
 7    Pclass_3 -0.322308
 8    Sex_male -0.543351)